@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: poppins;
    background-color: rgb(247, 242, 227);
    scroll-behavior: smooth;
}
nav {
    background-color: rgb(247, 235, 206);
    height: 80px;
    width: 100%;
    position: fixed;
}

label.logo {
    color:Black;
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 45px;
    transition: 0.5s;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: rgb(122, 28, 28);
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.5s;
}
nav ul li a.menu-link:hover {
    cursor: pointer; 
    color: black;
    background-color: whitesmoke;
    border-radius: 3px;
    transition: 0.5s;
}
a.registration-link {
    background-color: rgb(122, 28, 28);
    color: whitesmoke;
    padding: 10px 15px;
    border-radius: 5px;
}
a.registration-link:hover {
    background-color: black;
    color: whitesmoke;
    transition: 0.8s;
}

/* Menu Bars */
.menu-contianer {
    display: inline-block;
    cursor: pointer;
    line-height: 80px;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.8s;
    border-radius: 5px;
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

.change .bar2 {
    opacity: 0;
}

.checkbtn {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#button {
    display: none;
}

@media (max-width: 1100px) {
    span.logo {
        font-size: 20px;
        padding-left: 20px;
        transition: 0.5s;
    }

    nav ul li a {
        font-size: 14px;
        transition: 0.5s;
    }
}

@media (max-width: 1100px) {
    
    .checkbtn {
        display: block;
    }
 
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(247, 242, 227);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        opacity: 1;
        font-weight: bold;
    }
    nav ul li a {
        font-size: 15px;
    }
   #check:checked ~ ul {
    left: 0;
    transition: 0.5s;
   }
}
@media (max-width: 600px) {
    label.logo {
     font-size: 15px;
     padding: 15px;
     margin-top: 30px;
    }
    
    .bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
    transition: 0.8s;
    border-radius: 5px;
    }
    .checkbtn {
        margin-top: 30px;
    }
    .change .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
    }

    .change .bar3 {
        transform: translate(0, -6px) rotate(45deg);
    }

    .change .bar2 {
        opacity: 0;
    }
    
}

.about-us-header {
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 0px 5px 10px rgb(90, 88, 88);
    text-align: center;
    text-decoration: underline;
}
.about-us-header2 {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: maroon;
    margin-top: 50px;
    margin-right: 15%;
    margin-left: 15%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 5px 10px rgb(90, 88, 88);
}
.about-us-text {
    text-align: center;
    margin: 0 15%;
    background-color: #ebebeb;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 15%;
    color: maroon;
    box-shadow: 0px 5px 10px rgb(90, 88, 88);
}

@media (max-width: 800px) {
    .about-us-header2 {
        margin-top: 50px;
        margin-right: 8%;
        margin-left: 8%;
    }
    .about-us-text {
        margin: 0 8%;
        padding: 15px 10%;
    }
}

.core-values-header {
    padding: 20px;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;
    color: white;
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 5px 10px rgb(90, 88, 88);
}
.core-values-text {
    text-align: left;
    background-color: #ebebeb;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 5%;
    color: black;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 50px;
    box-shadow: 0px 5px 10px rgb(90, 88, 88);
}
div h3 {
    background-color: maroon;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
div p {
    padding: 10px;
}

@media (max-width: 800px) {
    .core-values-header {
        margin-top: 50px;
        margin-right: 8%;
        margin-left: 8%;
    }
    .core-values-text {
        margin-right:8%;
        margin-left:8%;
        margin-bottom: 50px;
        padding: 15px 5%;
    }
}

/*Footer*/
.footer {
    background-color: black;
    color: white;
    padding: 60px;
    text-align: left;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: white;
  }


   .fa-indeed {
    font-size: 15px;
    font-family: poppins;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .fa-indeed:hover {
    opacity: 0.7;
  }

  .fa-linkedin {
    color: white;
  }
  
